{% extends "auth_template.html" %}
{% load static %}
{% block body %}
<h1>Sign in</h1>
<form action="">
    {% csrf_token %}
    <label for="auth_email_input" class="input_label">Email</label>
    <input type="text" class="form-control-plaintext" id="auth_email_input" placeholder="youremail@gmail.com">
    
    <label for="auth_pass_input" class="input_label">Password</label>
    <input type="text" class="form-control-plaintext" id="auth_pass_input" placehold="password">
    
    <button type="submit" class="btn btn-primary mb-3 submit-up">Sign In</button>
    <button type="button" class="btn signup_auth_options"><img src="images/Google_Icon.svg" alt="" style="width: 25px;" class="button_icon">Sign In with Google</button>
    <button type="button" class="btn signup_auth_options"><img src="images/Apple_icon.svg" alt="" class="button_icon">Sign In with Apple</button>
    <button type="button" class="btn signup_auth_options"> Sign Up</button>
</form>
{% endblock %}